.result-item {
  width: 90%;
  padding: 3px;
  border: 1px solid black;
  margin: 5px 20px;
  border-radius: 6px;
  max-height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  max-height: 70px;
}

.result-item h3 {
  margin: 5px;
  word-wrap: break-word;
  width: 100%;
  text-align: center;
}
